In [55]:
from datetime import datetime, timedelta
from azure.storage.blob import BlobServiceClient, generate_blob_sas, BlobSasPermissions
import pandas as pd
import os
from dotenv import load_dotenv
load_dotenv("../application/.env")


# Replace with your connection string, container name, and blob (file) name# setup connect with Blob storage
CONNECTION_STRING = os.getenv("BLOB_CONN_STRING")
CONTAINER_NAME = os.getenv("BLOB_CONTAINER")
BUS_SCHEDULE_FILE = os.getenv("BUS_SCHEDULE_FILE")

# Create a BlobServiceClient object
blob_service_client = BlobServiceClient.from_connection_string(CONNECTION_STRING)

# Get a client to interact with the container and the specific blob
blob_client = blob_service_client.get_blob_client(container=CONTAINER_NAME, blob=BUS_SCHEDULE_FILE)

# Download the blob as a string
blob_data = blob_client.download_blob().readall()

# Read the CSV data into a pandas DataFrame
df = pd.read_excel(blob_data)

# Display the DataFrame
df

/var/folders/cz/t0wnr3c949j4t87gbzk2qkzc0000gn/T/ipykernel_9423/2923082215.py:24: FutureWarning: Passing bytes to 'read_excel' is deprecated and will be removed in a future version. To read from a byte string, wrap it in a `BytesIO` object.
  df = pd.read_excel(blob_data)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,CAU GIAY ROUTE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Pick-up point,Slot 1,Slot 2,Slot 3,Slot 4,Slot 5,NaN,Drop-off point,Slot 1,Slot 2,Slot 3,Slot 4,Slot 5,Slot 6
3,NGUYEN QUOC TRI,07:20:00,09:35:00,10:25:00,11:40:00,13:30:00,NaN,BUV CAMPUS,11:30:00,12:30:00,13:30:00,15:15:00,17:35:00,18:15:00
4,NATIONAL CINEMA CENTRE,07:35:00,09:50:00,10:40:00,11:55:00,13:45:00,NaN,NATIONAL CINEMA CENTRE,12:20:00,13:20:00,14:20:00,16:05:00,18:25:00,19:05:00
5,BUV CAMPUS,08:25:00,10:40:00,11:30:00,12:45:00,14:35:00,NaN,NGUYEN QUOC TRI,12:35:00,13:35:00,14:35:00,16:20:00,18:40:00,19:20:00

In [42]:
# List the content of the container
print("\nListing blobs...")
blob_list = blob_service_client.get_container_client(CONTAINER_NAME).list_blobs()
for blob in blob_list:
    blob_i = blob.name
    print(blob.name + '\n')

Listing blobs...
Bus_schedules_for_Chatbot_20240905.xlsx

In [47]:
account_name = "buvbot"
account_key = "0uQgiQjrF1OlsuoEt35ufvLRTToQIXcNnfGGxCYvAFhg1BA0WLSraCMYaurXWtDGCgt0Yh/mqP2u+AStxV/DmA=="
sas_i = generate_blob_sas(account_key=account_key, 
                          account_name=account_name,
                          container_name = CONTAINER_NAME,
                            blob_name = blob_i,
                            permission=BlobSasPermissions(read=True),
                            expiry=datetime.utcnow() + timedelta(hours=1))
sas_i

'se=2024-09-09T12%3A15%3A31Z&sp=r&sv=2024-08-04&sr=b&sig=SYDOj9qfgzHJAP3T8zPzSFUY8Gw3acCNJE3OUct3E3g%3D'

In [49]:
sas_url = 'https://' + account_name+'.blob.core.windows.net/' + CONTAINER_NAME + '/' + blob_i + '?' + sas_i
sas_url

'https://buvbot.blob.core.windows.net/siobus/Bus_schedules_for_Chatbot_20240905.xlsx?se=2024-09-09T12%3A15%3A31Z&sp=r&sv=2024-08-04&sr=b&sig=SYDOj9qfgzHJAP3T8zPzSFUY8Gw3acCNJE3OUct3E3g%3D'

In [51]:
# Read xlsx file with pandas
df = pd.read_excel(sas_url)
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,CAU GIAY ROUTE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Pick-up point,Slot 1,Slot 2,Slot 3,Slot 4,Slot 5,NaN,Drop-off point,Slot 1,Slot 2,Slot 3,Slot 4,Slot 5,Slot 6
3,NGUYEN QUOC TRI,07:20:00,09:35:00,10:25:00,11:40:00,13:30:00,NaN,BUV CAMPUS,11:30:00,12:30:00,13:30:00,15:15:00,17:35:00,18:15:00
4,NATIONAL CINEMA CENTRE,07:35:00,09:50:00,10:40:00,11:55:00,13:45:00,NaN,NATIONAL CINEMA CENTRE,12:20:00,13:20:00,14:20:00,16:05:00,18:25:00,19:05:00
5,BUV CAMPUS,08:25:00,10:40:00,11:30:00,12:45:00,14:35:00,NaN,NGUYEN QUOC TRI,12:35:00,13:35:00,14:35:00,16:20:00,18:40:00,19:20:00