In [1]:
import pandas as pd

In [2]:
# import datetime
from datetime import datetime

In [3]:
bus_schedule_file = "../data/bus.xlsx"

In [4]:
# Get the list of sheet names
sheet_names = pd.ExcelFile(bus_schedule_file).sheet_names
sheet_names

['Cau Giay',
 'Ha Dong',
 'Hai Ba Trung',
 'Ecopark',
 'Tay Ho',
 '15.07 - 19.07',
 '22.07 - 26.07',
 '29.07 - 02.08',
 '05.07 - 09.08',
 '12.07 - 17.08',
 '19.07 - 24.08']

In [5]:
# Pick the latest sheet
latest_sheet = sheet_names[-1]
latest_sheet

'19.07 - 24.08'

In [6]:
# Load the data from the latest sheet
df = pd.read_excel(bus_schedule_file, sheet_name=latest_sheet)
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BẢNG TỔNG HỢP SỐ LƯỢNG XE TRONG TUẦN | WEEKLY ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Get a list of datetime elements in the first column, skipping nan values and str type
datetimes = df.iloc[:, 0].dropna().loc[lambda x: x.apply(lambda y: not isinstance(y, str))].reset_index(drop=True)
datetimes

0     2024-08-19 00:00:00
1     2024-08-19 00:00:00
2     2024-08-19 00:00:00
3     2024-08-19 00:00:00
4     2024-08-20 00:00:00
5     2024-08-20 00:00:00
6     2024-08-20 00:00:00
7     2024-08-20 00:00:00
8     2024-08-21 00:00:00
9     2024-08-21 00:00:00
10    2024-08-21 00:00:00
11    2024-08-21 00:00:00
12    2024-08-22 00:00:00
13    2024-08-22 00:00:00
14    2024-08-22 00:00:00
15    2024-08-22 00:00:00
16    2024-08-23 00:00:00
17    2024-08-23 00:00:00
18    2024-08-23 00:00:00
19    2024-08-23 00:00:00
20    2024-08-24 00:00:00
21    2024-08-24 00:00:00
22    2024-08-24 00:00:00
23    2024-08-24 00:00:00
Name: Unnamed: 0, dtype: object

In [8]:
# Get unique values
unique_datetimes = datetimes.unique()
unique_datetimes

array([datetime.datetime(2024, 8, 19, 0, 0),
       datetime.datetime(2024, 8, 20, 0, 0),
       datetime.datetime(2024, 8, 21, 0, 0),
       datetime.datetime(2024, 8, 22, 0, 0),
       datetime.datetime(2024, 8, 23, 0, 0),
       datetime.datetime(2024, 8, 24, 0, 0)], dtype=object)

In [9]:
# Convert to a pandas Series to use sort_values
unique_datetimes_series = pd.Series(unique_datetimes)
unique_datetimes_series

0   2024-08-19
1   2024-08-20
2   2024-08-21
3   2024-08-22
4   2024-08-23
5   2024-08-24
dtype: datetime64[ns]

In [10]:
# Sort the unique datetimes in ascending order
sorted_unique_datetimes = unique_datetimes_series.sort_values().reset_index(drop=True)
sorted_unique_datetimes = pd.to_datetime(sorted_unique_datetimes)

sorted_unique_datetimes

0   2024-08-19
1   2024-08-20
2   2024-08-21
3   2024-08-22
4   2024-08-23
5   2024-08-24
dtype: datetime64[ns]

In [11]:
# sorted_unique_datetimes = pd.to_datetime(sorted_unique_datetimes)
# sorted_unique_datetimes

In [12]:
# Get today's date
today = datetime.today()
today = today.strftime('%Y-%m-%d')
today = pd.to_datetime(today)
today

Timestamp('2024-08-20 00:00:00')

In [13]:
# Filter dates starting from today
filtered_datetimes = sorted_unique_datetimes[sorted_unique_datetimes >= today]
filtered_datetimes

1   2024-08-20
2   2024-08-21
3   2024-08-22
4   2024-08-23
5   2024-08-24
dtype: datetime64[ns]

In [14]:
# Format the filtered dates
result = [day.strftime("%a %d %b") for day in filtered_datetimes]
result

['Tue 20 Aug', 'Wed 21 Aug', 'Thu 22 Aug', 'Fri 23 Aug', 'Sat 24 Aug']

#### limit the schedule and suggest available time

In [24]:
df_calendar = df.iloc[8:, :]
df_calendar

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
8,NaN,NaN,NaN,07:20:00,09:30:00,10:30,11:30,13:30,11:30,12:30,13:30:00,15:15,17:35,18:45:00
9,2024-08-19 00:00:00,Mon,HBT,1,1,1,1,0,1,1,0,1,1,1
10,2024-08-19 00:00:00,Mon,CG,1,1,1,1,0,1,1,0,1,1,1
11,2024-08-19 00:00:00,Mon,TH,1,0,1,1,0,1,1,0,1,1,1
12,2024-08-19 00:00:00,Mon,HD,1,0,1,1,0,1,1,0,1,1,1
13,2024-08-20 00:00:00,Tue,HBT,1,1,0,0,1,1,1,1,1,1,1
14,2024-08-20 00:00:00,Tue,CG,1,1,0,0,1,1,1,1,1,1,1
15,2024-08-20 00:00:00,Tue,TH,1,1,0,0,1,1,1,0,1,1,1
16,2024-08-20 00:00:00,Tue,HD,1,1,0,0,1,1,1,0,1,1,1
17,2024-08-21 00:00:00,Wed,HBT,1,1,1,0,0,0,1,1,1,1,1
18,2024-08-21 00:00:00,Wed,CG,1,1,1,0,0,0,1,1,1,1,1
19,2024-08-21 00:00:00,Wed,TH,1,1,1,0,0,0,1,0,1,1,1
20,2024-08-21 00:00:00,Wed,HD,1,1,1,0,0,0,1,0,1,1,1
21,2024-08-22 00:00:00,Thu,HBT,1,1,1,1,1,0,1,1,1,1,0
22,2024-08-22 00:00:00,Thu,CG,1,1,1,1,1,0,1,1,1,1,0
23,2024-08-22 00:00:00,Thu,TH,1,1,1,1,1,0,1,1,1,1,0
24,2024-08-22 00:00:00,Thu,HD,1,1,1,1,1,0,1,1,1,1,0
25,2024-08-23 00:00:00,Fri,HBT,1,1,1,1,0,0,1,1,1,1,1
26,2024-08-23 00:00:00,Fri,CG,1,1,1,1,0,0,1,1,1,1,1
27,2024-08-23 00:00:00,Fri,TH,1,1,0,1,0,0,1,1,1,1,1
28,2024-08-23 00:00:00,Fri,HD,1,1,0,1,0,0,1,1,1,1,1
29,2024-08-24 00:00:00,Sat,HBT,1,1,0,0,1,1,1,1,1,1,0
30,2024-08-24 00:00:00,Sat,CG,1,1,0,0,1,1,1,1,1,1,0
31,2024-08-24 00:00:00,Sat,TH,1,1,0,0,1,1,1,0,1,1,0
32,2024-08-24 00:00:00,Sat,HD,1,1,0,0,1,1,1,0,1,1,0

In [20]:
state = {
    'route name': ['Tay Ho'], 
    'pick-up point': ['Ho Tay Water Park'], 
    'drop-off point': ['BUV Campus'], 
    'specific date': ['Tue 20 Aug'], 
    'specific time': []
}

In [94]:
# route_name = json["route name"][0]
# pickup_point = json["pick-up point"][0]
# dropoff_point = json["drop-off point"][0]
# specific_date = json["specific date"][0]

route_name = json["route name"][0]
pickup_point = json["drop-off point"][0]
dropoff_point = json["pick-up point"][0]
specific_date = json["specific date"][0]

In [95]:
# dropoff_point
specific_date

'Tue 20 Aug'

In [96]:
weekday = specific_date.split()[0]
weekday

'Tue'

In [97]:
# dct_excel_mapping = {
#     "Hai Ba Trung": "HBT",
#     "Tay Ho": "TH",
#     "Cau Giay": "CG",
#     "Ha Dong": "HD"
# }

In [98]:
result_calendar = df_calendar[(df_calendar["Unnamed: 1"]==weekday)
            & (df_calendar["Unnamed: 2"]==dct_excel_mapping[route_name])]
result_calendar

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
15,2024-08-20 00:00:00,Tue,TH,1,1,0,0,1,1,1,0,1,1,1

In [99]:
result_calendar.columns = [str(i) for i in range(0, 14)]
result_calendar

                      0    1   2  3  4  5  6  7  8  9 10 11 12 13
15  2024-08-20 00:00:00  Tue  TH  1  1  0  0  1  1  1  0  1  1  1

In [100]:
filepath = "../data/StartingTime.csv"
df_bus = pd.read_csv(filepath)

In [106]:
pickup_point

'BUV Campus'

In [101]:
result = df_bus[(df_bus["route_name"]==route_name) \
                & (df_bus["pickup_point"] == pickup_point)
                & (df_bus["dropoff_point"] == dropoff_point)]
result

,route_name,pickup_point,dropoff_point,date,slot1,slot2,slot3,slot4,slot5,slot6
39,Tay Ho,BUV Campus,Ho Tay Water Park,NaN,11:30,12:30,13:30,15:15,17:35,18:15

In [102]:
suggestion = []

In [103]:
pickup_point

'BUV Campus'

In [104]:
for col in result_calendar.columns:
    if (result_calendar[col].values[0]==1) and (int(col)<=7) and (pickup_point!="BUV Campus"):
        # print(col, result_calendar[col].values[0])
        timeslot = result["slot"+str(int(col)-2)].values[0]
        suggestion.append(timeslot)    
    if (result_calendar[col].values[0]==1) and (int(col)>=8) and (pickup_point=="BUV Campus"):
        timeslot = result["slot"+str(int(col)-7)].values[0]
        suggestion.append(timeslot)

In [105]:
suggestion

['11:30', '12:30', '15:15', '17:35', '18:15']